# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# The Aronnax executable
/aronnax_core
/aronnax_test
/aronnax_prof
/aronnax_external_solver
/aronnax_external_solver_test

# Profiling
gmon.out

# Distribution / packaging
.Python
/build
/dist
/sdist
/*.egg-info

# Unit test / coverage reports
.cache

# Generated documentation
/docs/_build

# IPython Notebook
.ipynb_checkpoints
